#EKONOMI{
    background-color: beige;
    color: rgb(10, 33, 33);
    padding: 20px;
    text align: center;
}
#MATEMATIKA{
    background-color: beige;
    color: rgb(21, 29, 4);
    padding: 20px;
    text align: center;
}
#KIMIA{
    background-color: beige;
    color: rgb(21, 29, 4);
    padding: 20px;
    text align: center;
}
#SOSIOLOGI{
    background-color: beige;
    color: rgb(7, 10, 0);
    padding: 20px;
    text align: center;
}